{% extends 'base.html.twig' %}

{% block title %}Liste des Offres{% endblock %}

{% block body %}
<div class="fullscreen-container">
    <img src="https://media.giphy.com/media/3o7btT1T9qpQZWhNlK/giphy.gif" alt="Erreur 401 GIF" class="fullscreen-gif">
    <div class="error-message">
        <h1>Erreur 401 - Accès non autorisé</h1>
        <p>Désolé, vous n'avez pas le droit d'entrer ici. C'est une zone VIP !</p>
    </div>
</div>
{% endblock %}
