

{% extends 'base.html.twig' %}

{% block title %}Nouvelle Offre{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">Créer une nouvelle offre</h1>

            <div class="card">
                <div class="card-body">
                    {{ include('offre/_form.html.twig') }}
                </div>
            </div>

            <div class="mt-3">
                <a href="{{ path('app_offre_index') }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left me-2"></i>Retour à la liste
                </a>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('duree.js') }}"></script>
{% endblock %}